@import "~@fortawesome/fontawesome-free/css/all.css";
img {
  width: 100px;
  height: 100px;
}
.ng-container{
  background-size: cover ;
}
.main{
  padding-top: 50px;
}
.card.text-white.bg-success.mb-3{
  background-color: white;
  color: black;
}
.main{
  max-height: 100vh;
  overflow-y: auto;
}